button
{
    background-color: #fcb900;
    color: #ffffff;
}

button:hover
{
    background-color: #fcb900;
    color: #ffffff;
}

img{
    width: 100%;
    cursor: pointer;
}

h2
{
    color: #fcb900;
    text-align: center;
    font-size: 30px;
}

h5
{
    color: #fcb900;
    text-align: center;
    margin: 15px;
}

.rowposter{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-row: 600px;
  gap: 20px;
  justify-items: center;
}


@media screen and (max-width: 767px) {
  .rowposter {
    grid-template-columns: repeat(1, 1fr);
  }
}

.rowimg
{
  max-height: 100%;
  object-fit: cover;
  width: 100%;
  box-sizing: content-box;
  transition: transform 450ms;
  margin-right: 7px;
}

.rowimg:hover
{
  transform: scale(1.09);
  cursor: pointer;
}

.largeposter{
  max-height: 300px;
}

.rowposter::-webkit-scrollbar
{
    display: none;
}


.grid-item {
  width: 100%;
}



.custom-mt-10 {
  margin-top: 100px;
}
