button
{
    background-color: #fcb900;
    color: #ffffff;
}

button:hover
{
    background-color: #fcb900;
    color: #ffffff;
}

img{
    width: 100%;
    cursor: pointer;
}

h5
{
    color: #fcb900;
}


.rowposter{
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
}

.rowimg
{
  max-height: 100px;
  object-fit: contain;
  width: 100%;
  box-sizing: content-box;
  transition: transform 450ms;
  margin-right: 7px;
}

.rowimg:hover
{
  transform: scale(1.09);
  cursor: pointer;
}

.largeposter{
  max-height: 300px;
}


.component-wrapper {
  margin-top: 50px;
}

.rowposter::-webkit-scrollbar
{
    display: none;
}


.custom-mt-10 {
  margin-top: 80px;
}
