<div class="background">
  <img src="/assets/logo.png" class= "center">
<div class="mb-3 row custom-div">
  <label for="staticEmail" class="col-6 offset-3 col-form-label text-center custom-label">Email</label>
  <div class="col-6 offset-3 text-center">
    <input type="text" class="form-control" id="staticEmail">
  </div>
</div>
<div class="mb-3 row">
  <label for="inputPassword" class="col-6 offset-3 col-form-label text-center custom-label">Password</label>
  <div class="col-6 offset-3 text-center">
    <input type="password" class="form-control" id="inputPassword">
  </div>

</div>

<button type="button" class="btn btn-warning col-2 offset-5 buttoncenter" (click)="login()">Login</button>
</div>
<div> </div>

<div class="row mt-4">
    <div class="rowposter mt-3 p-2">
    <ng-container *ngFor="let t of trendingMovieResult">
      <img src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}" class="rowimg largeposter" alt="...">
    </ng-container>

  </div>

</div>
