<app-nav></app-nav>
    <!-- adventure movies  -->
    <div class="row custom-mt-10 p-5">
      <h2>ADVENTURE MOVIES</h2>
      <div class="rowposter mt-3 p-2">
        <ng-container *ngFor="let a of adventureMovieResult">
          <div class="grid-item">
          <img src="https://image.tmdb.org/t/p/original/{{ a.poster_path }}" class="rowimg largeposter" alt="..."
            [routerLink]="['/movie',a.id]">
           <h5>{{a.original_title}}</h5> </div>
        </ng-container>

      </div>

    </div>

